<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>
    <menuitem id="mail.menu_root_discuss" name="المحادثة" action="mail.action_discuss" web_icon="parentid,static/description/mail.png" groups="parentid.employee" sequence="1"/>

    <menuitem id="account_accountant.menu_accounting" name="الحسابات" groups="account.group_account_readonly,account.group_account_invoice" web_icon="parentid,static/description/account.png" sequence="40"/>
        
    <menuitem id="utm.menu_link_tracker_root" name="متتبع الرابط" sequence="30" web_icon="parentid,static/description/utm.png" groups="base.group_no_one"/>
        
    <menuitem id="note.menu_note_notes" name="الملاحظات" sequence="3" action="note.action_note_note" web_icon="parentid,static/description/note.png" groups="parentid.employee"/>

    <menuitem id="calendar.mail_menu_calendar" name="التقويم" sequence="2" action="calendar.action_calendar_event" web_icon="parentid,static/description/calendar.png" groups="parentid.employee"/>
        
    <menuitem id="crm.crm_menu_root" name="العلاقات العامة" web_icon="parentid,static/description/crm.png" groups="sales_team.group_sale_salesman,sales_team.group_sale_manager" sequence="6"/>
        
    <menuitem id="sale.sale_menu_root" name="المبيعات" web_icon="parentid,static/description/sale.png" sequence="7"/>
        
    <menuitem id="website.menu_website_configuration" name="الموقع الإلكتروني" sequence="9" web_icon="parentid,static/description/website.png" groups="parentid.employee"/>
        
    <menuitem id="sign.menu_document" name="التوقيع الإلكتروني" web_icon="parentid,static/description/sign.png" groups="sign.group_sign_employee"/>

    <menuitem id="im_livechat.menu_livechat_root" name="الدردشة الحية" web_icon="parentid,static/description/im_livechat.png" groups="im_livechat.im_livechat_group_user" sequence="205"/>
        
    <menuitem id="base.menu_administration" name="الإعدادات" web_icon="parentid,static/description/settings.png" sequence="500" groups="base.group_erp_manager"/>
        
    <menuitem id="base.menu_management" name="التطبيقات" sequence="310" web_icon="parentid,static/description/modules.png" groups="base.group_system"/>
        
    <menuitem name="جهات الاتصال" id="contacts.menu_contacts" sequence="4" web_icon="parentid,static/description/contacts.png" groups="parentid.employee"/>
        
    <menuitem id="base.menu_board_root" name="لوحة المعلومات" sequence="260" web_icon="parentid,static/description/board.png" groups="parentid.employee"/>
    </data>
</odoo>